<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Time for School</title>
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    <script src="/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>

<body>

<div th:replace="fragments/navbar">Navbar</div>

<div class="container">
    <h2 class="text-center text-white" th:text="#{register_main}">Register User</h2>
    <h6 class="text-center text-white" th:text="#{register_text}">Registration form is required only for learning
        centers and teachers to be
        allowed to register an offer</h6>
    <form th:action="@{/users/register}"
          th:method="post"
          th:object="${userModel}"
          class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center">
        <div class="row">

            <div class="form-group mx-auto col-md-8 d-flex flex-column justify-content-center">
                <label for="name" class="text-white font-weight-bold" th:text="#{register_name}">Name</label>
                <input
                        id="name"
                        th:field="*{name}"
                        th:errorclass="is-invalid"
                        type="text"
                        class="form-control"
                        placeholder="Name"/>
                <p class="invalid-feedback errors alert alert-danger">
                    <span th:text="#{register_name_error}"></span>

                </p>
            </div>

        </div>
        <div class="row">
            <div class="form-group mx-auto col-md-8 d-flex flex-column justify-content-center">
                <label for="email" class="text-white font-weight-bold" th:text="#{register_email}">Email</label>
                <input id="email"
                       th:field="*{email}"
                       th:errorclass="is-invalid"
                       type="text"
                       class="form-control"
                       placeholder="Email"/>
                <div class="invalid-feedback errors alert alert-danger">
                    <div
                            th:each="err : ${#fields.errors('email')}"
                            th:text="${err}"
                    />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group mx-auto col-md-8 d-flex flex-column justify-content-center">
                <label for="password" class="text-white font-weight-bold"
                       th:text="#{register_password}">Password</label>
                <input id="password"
                       th:field="*{password}"
                       th:errorclass="is-invalid"
                       type="password"
                       class="form-control"
                       placeholder="Password"/>
                <p class="invalid-feedback errors alert alert-danger">
                    <span th:text="#{register_pass_error}"></span>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="form-group mx-auto col-md-8 d-flex flex-column justify-content-center">
                <label for="confirmPassword" class="text-white font-weight-bold" th:text="#{register_confirm_password}">Repeat
                    Password</label>
                <input
                        id="confirmPassword"
                        th:field="*{confirmPassword}"
                        th:errorclass="is-invalid"
                        type="password"
                        class="form-control"
                        placeholder="Repeat password"
                />
                <p th:if="${passMatcher}" class="invalid-feedback errors alert alert-danger">
                    <span th:text="#{register_confirm_conf_pass_error}"></span>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col mx-auto col-md-8 d-flex flex-column justify-content-center">
                <div class="button-holder d-flex">
                    <input type="submit" class="btn btn-info btn-lg" th:value="#{register_btn}"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col mx-auto col-md-8 d-flex flex-column justify-content-center">
                <div class="card-body">
                    <a class="card-link" href="#" th:href="@{/}" th:text="#{register_back}"></a>
                </div>
            </div>
        </div>
    </form>
</div>

<div>
    <footer></footer>
</div>

</body>
</html>
