<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>

<head>
    <meta charset="UTF-8">
    <title>Time for School</title>
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    <script src="/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>

<body>

<div th:replace="fragments/navbar">Navbar</div>

<div th:object="${school}" class="container-fluid">
    <h2 class="text-center text-white mt-5">Details</h2>
    <div class="offers row mx-auto d-flex flex-row justify-content-center">
        <div class="offer card col-sm-4 col-md-6  col-lg-8 m-1 p-0">
            <div class="card-body pb-1">
                <h4 class="card-title text-center">
                    <th:block th:text="*{name}"></th:block>
                </h4>
                <h5 class="card-title text-center">
                    <th:block th:text="*{cityName}"></th:block>
                </h5>
                <h5 class="card-title text-center">
                    <th:block th:text="*{districtName}"></th:block>
                </h5>
                <h6 class="card-title text-center"><span>• School website: <th:block th:text="*{schoolUrl}"></th:block></span></h6>
            </div>

            <h6 class="card-title"><span>• School profiles: </span></h6>
            <ul class="offer-details list-group list-group-flush"
                th:each="schoolProfile : ${school.getSchoolProfiles()}">
                <li class="list-group-item">
                    <div class="card-text"><span><th:block th:text="${schoolProfile.toString()}"></th:block></span>
                    </div>
                </li>
            </ul>
            <h6 class="card-title"><span>• Director: <th:block th:text="*{director}"></th:block></span></h6>
            <h6 class="card-title"><span>• Telephone: <th:block th:text="*{telephone}"></th:block></span></h6>
            <h6 class="card-title"><span>• Email address: <th:block th:text="*{email}"></th:block></span></h6>
            <h6 class="card-title"><span>• School address: <th:block th:text="*{address}"></th:block></span></h6>

            <div class="card-body">
                <a class="card-link" href="#" th:href="@{/schools/all}">Back</a>
            </div>
        </div>
    </div>
</div>

<div>
    <footer></footer>
</div>

</body>
</html>
