<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>

<head>
    <meta charset="UTF-8">
    <title>Time for School</title>
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    <script src="/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>

<body>

<div th:replace="fragments/navbar">Navbar</div>


<div class="container-fluid">
    <form
            th:action="@{/schools/search}"
            th:method="get"
            class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center">

        <div class="row">
            <div class="col col-md-4 ">
                <div class="button-holder d-flex justify-content-center">
                    <input type="submit" class="btn btn-info btn-lg " value="Search schools"/>
                </div>
            </div>
        </div>
    </form>
    <h2 class="text-center text-white mt-5">All Schools</h2>
    <div class="card-body.search text-center">
        <a class="card-link" href="#" th:href="@{/}">Back</a>
    </div>
    <div th:each="school : ${schools.getContent()}"
         th:object="${school}"
         class="schools row mx-auto d-flex flex-row justify-content-center">
        <div class="offer card col-sm-4 col-md-6  col-lg-8 m-1 p-0">
            <div class="card-body pb-1">
                <h4 class="card-title text-center">
                    <th:block th:text="*{name}"></th:block>
                </h4>
                <h5 class="card-title text-center">
                    <th:block th:text="*{cityName}"></th:block>
                </h5>
                <h5 class="card-title text-center">
                    <th:block th:text="*{districtName}"></th:block>
                </h5>
                <h6 class="card-title text-center"><span>• School website: <th:block th:text="*{schoolUrl}"></th:block></span></h6>
            </div>

            <h6 class="card-title"><span>• School profiles: </span></h6>
            <ul class="offer-details list-group list-group-flush"
                th:each="schoolProfile : ${school.getSchoolProfiles()}">
                <li class="list-group-item">
                    <div class="card-text"><span><th:block th:text="${schoolProfile.toString()}"></th:block></span>
                    </div>
                </li>
            </ul>
            <div class="card-body">
                <a class="card-link" href="#" th:href="@{/schools/{id}(id=*{id})}">Details</a>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid container-fluid row justify-content-center">
    <nav>
        <ul class="pagination">
            <li class="page-item" th:classappend="${schools.isFirst()} ? 'disabled' : ''">
                <a th:unless="${schools.isFirst()}"
                   th:href="@{/schools/all(size=${schools.getSize()},page=0)}"
                   class="page-link" href="#">First</a>
                <a th:if="${schools.isFirst()}"
                   class="page-link" href="#">First</a>
            </li>
        </ul>
    </nav>
    <nav>
        <ul class="pagination">
            <li class="page-item" th:classappend="${schools.hasPrevious() ? '' : 'disabled'}">
                <a th:if="${schools.hasPrevious()}"
                   th:href="@{/schools/all(size=${schools.getSize()},page=${schools.getNumber() - 1})}"
                   class="page-link" href="#">Previous</a>
                <a th:unless="${schools.hasPrevious()}"
                   class="page-link" href="#">Previous</a>
            </li>
        </ul>
    </nav>
    <nav>
        <ul class="pagination">
            <li class="page-item" th:classappend="${schools.hasNext() ? '' : 'disabled'}">
                <a th:if="${schools.hasNext()}"
                   th:href="@{/schools/all(size=${schools.getSize()},page=${schools.getNumber() + 1})}"
                   class="page-link" href="#">Next</a>
                <a th:unless="${schools.hasNext()}"
                   class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>
    <nav>
        <ul class="pagination">
            <li class="page-item" th:classappend="${schools.isLast()} ? 'disabled' : ''">
                <a th:unless="${schools.isLast()}"
                   th:href="@{/schools/all(size=${schools.getSize()},page=${schools.getTotalPages() - 1})}"
                   class="page-link" href="#">Last</a>
                <a th:if="${schools.isLast()}"
                   class="page-link" href="#">Last</a>
            </li>
        </ul>
    </nav>
</div>

<div>
    <footer></footer>
</div>

</body>
</html>
